
.card {
    width: 30%;
    background: linear-gradient(to bottom right,rgba(34, 104, 184, 0.678), rgb(225,192,255), #a8326d); 
    margin: 5% auto;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
    overflow: hidden;
    }
.card p {
    padding: 10px;
    text-align: center;
}


.notregistered a {
    color: #fff;
    font-weight: bold;
    outline:none;
    text-decoration: none !important;
    }
  
